{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": [ "ie >= 8", "chrome >= 62" ]
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "loose": true
      }
    ]
  ]
}